# Build outputs
bin/
obj/

# User-specific files
*.user
*.suo
.vs/

# Rider
.idea/

# dotnet
*.swp
project.lock.json
project.fragment.lock.json
artifacts/

# OS
.DS_Store
Thumbs.db

# Docker volumes
redis-data/
