<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="LabDbContext"
         connectionString="data source=(localdb)\mssqllocaldb;initial catalog=LabEmployee2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
         providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>