<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="LabDbContext"
         connectionString="yn20dc9lt/9AP5PV56SGd44jLYvT+FmY7nMr5/PNiUTvYgm9n10uJqdwwdokSWHP/Hk9B3wvIILvTFTPMbE8eXaBHlnXM9/hlN8ziMLUMOehh0oi/BqcCYuR48D+D6NVP2ulZlfhrOq04vmXdLgr7lmU+8ihXiWFWzOj8xWVjZgEKd0vdsyaUkPr9dY/G9rJ"
         providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>