<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="linq2db" type="LinqToDB.Configuration.LinqToDBSection, linq2db" requirePermission="false" />
  </configSections>
  <linq2db>
    <dataProviders>
      <add name="iSeriesProvider" type="LinqToDB.DataProvider.DB2iSeries.DB2iSeriesFactory, LinqToDB.DataProvider.DB2iSeries" default="true" />
    </dataProviders>
  </linq2db>

  <connectionStrings>
    <!--<add name="MemberDb"
         connectionString="Data Source= your server;User ID=your id;Password=your password;Default Collection=YAO01" 
         providerName="iSeriesProvider" />-->
    <add name="MemberDb"
         connectionString="Data Source=10.128.16.16;User ID=S00NOTES;Password=LOTUS;Default Collection=YAO01" 
         providerName="iSeriesProvider" />

  </connectionStrings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="linq2db" publicKeyToken="e41013125f9e410a" culture="neutral" />
        <bindingRedirect oldVersion="2.6.0.0" newVersion="2.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>