<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<connectionStrings>
  <add name="Model1" 
       connectionString="data source=10.128.29.16\test2017;initial catalog=SecurityDB;persist security info=True;user id=hyc;password=hyc;MultipleActiveResultSets=True;App={0},{1}" 
       providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>