<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Xdt" version="2.1.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net472" />
  <package id="NuGet.Commands" version="4.9.3" targetFramework="net472" />
  <package id="NuGet.Common" version="4.9.3" targetFramework="net472" />
  <package id="NuGet.Configuration" version="4.9.3" targetFramework="net472" />
  <package id="NuGet.Credentials" version="4.9.3" targetFramework="net472" />
  <package id="NuGet.DependencyResolver.Core" version="4.9.3" targetFramework="net472" />
  <package id="NuGet.Frameworks" version="4.9.3" targetFramework="net472" />
  <package id="NuGet.LibraryModel" version="4.9.3" targetFramework="net472" />
  <package id="NuGet.PackageManagement" version="4.9.3" targetFramework="net472" />
  <package id="NuGet.Packaging" version="4.9.3" targetFramework="net472" />
  <package id="NuGet.Packaging.Core" version="4.9.3" targetFramework="net472" />
  <package id="NuGet.ProjectModel" version="4.9.3" targetFramework="net472" />
  <package id="NuGet.Protocol" version="4.9.3" targetFramework="net472" />
  <package id="NuGet.Resolver" version="4.9.3" targetFramework="net472" />
  <package id="NuGet.Versioning" version="4.9.3" targetFramework="net472" />
</packages>