<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.4.0" targetFramework="net48" />
  <package id="CronExpressionDescriptor" version="2.13.0" targetFramework="net48" />
  <package id="Dapper" version="1.50.2" targetFramework="net48" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net48" />
  <package id="Hangfire" version="1.7.9" targetFramework="net48" />
  <package id="Hangfire.Console" version="1.4.2" targetFramework="net48" />
  <package id="Hangfire.Core" version="1.7.9" targetFramework="net48" />
  <package id="Hangfire.Dashboard.Management" version="1.7.9" targetFramework="net48" />
  <package id="Hangfire.Dashboard.Management.Abstractions" version="1.7.9" targetFramework="net48" />
  <package id="Hangfire.MemoryStorage" version="1.7.0" targetFramework="net48" />
  <package id="Hangfire.SQLite" version="1.4.2" targetFramework="net48" />
  <package id="Hangfire.SqlServer" version="1.7.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.4.0" targetFramework="net48" />
  <package id="Microsoft.Owin" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Owin.Diagnostics" version="4.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Host.HttpListener" version="2.0.2" targetFramework="net48" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Hosting" version="2.0.2" targetFramework="net48" />
  <package id="MSTest.TestAdapter" version="1.3.2" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="1.3.2" targetFramework="net48" />
  <package id="NCrontab" version="3.3.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net48" />
  <package id="NSubstitute" version="4.2.1" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net48" />
  <package id="System.Data.SQLite" version="1.0.112.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.112.0" targetFramework="net48" />
  <package id="System.Data.SQLite.EF6" version="1.0.112.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Linq" version="1.0.112.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net48" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="net48" />
</packages>