[DefaultConnection]
default=local
qa=Server=qa;Database=proddb;User Id=produser;Password=prodpassword;
prod=Server=prodserver;Database=proddb;User Id=produser;Password=prodpassword;

[Ports]
default=8001, 8001, 8002 

[Allowed]
default=false
qa=true
prod=false