<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="5.0.0" targetFramework="net48" />
  <package id="cef.redist.x64" version="79.1.36" targetFramework="net48" />
  <package id="cef.redist.x86" version="79.1.36" targetFramework="net48" />
  <package id="CefSharp.Common" version="79.1.360" targetFramework="net48" />
  <package id="CefSharp.WinForms" version="98.1.210" targetFramework="net48" />
  <package id="jQuery" version="3.4.1" targetFramework="net48" />
  <package id="popper.js" version="1.16.0" targetFramework="net48" />
</packages>